<a href="https://colab.research.google.com/github/LarsGart/NLP-Social-Media-Mining-for-Health-Monitoring/blob/experimental/Task%204/%20Task_4_Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import re
# import demoji
# import tensorflow as tf
# import tensorflow_hub as hub
# import tensorflow_text as text

In [5]:
df = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/NLP-Social-Media-Mining-for-Health-Monitoring/datasets/Task 4/train.tsv', sep = '\t')
df_eval = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/NLP-Social-Media-Mining-for-Health-Monitoring/datasets/Task 4/valid.tsv', sep = '\t')
df

      1239172732690014208  ...  0
0     1223737201030246402  ...  0
1     1239385333319389185  ...  1
2     1236209435241938945  ...  0
3     1233855551605440514  ...  0
4     1236307495129399302  ...  0
...                   ...  ... ..
6459  1238158373247385600  ...  0
6460  1236504808854609921  ...  0
6461  1240322642437189633  ...  0
6462  1224420494218317826  ...  0
6463  1221122343499550720  ...  0

[6464 rows x 4 columns]